.body {
    font-family: "Roboto", sans-serif;
    font-variant: "Raleway", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}


/* Reset */
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

/* Header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
        

}

.header-container {
    display: flex;
    align-items: center;
}

.logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    line-height: 1.17;
    margin-right: 76px;
    padding: 24px 0;
}

.logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    line-height: 1.17;
    margin-right: 76px;
    padding: 24px 0;
}

.navigation {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.5;
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 24px 0;

}

.nav-link {
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link ::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: 404bbf;
    border-radius: 2px;
}

.navigation .nav-link {
    color: #2e2f42;
    line-height: 1.5;
}

.navigation .nav-link:hover,
.navigation .nav-link:focus {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #404bbf;
}

/* Contacts */

.contact-item {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    line-height: 1.5;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-container {
    display: flex;
    gap: 40px;
}

.contact-item:hover,
.contact-item:focus {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #404bbf;
}

/* Section 1 */

.section-one {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpeg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-title-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 496px;

}

.button-item {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    line-height: 1.5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item:hover,
.button-item:focus {
    background-color: #404bbf;
}

/* Section 2 */

.section-container {
    padding: 120px 0;
}

.section-list-container {
    display: flex;
    gap: 24px;

}

.section-container .section-title-two {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-list-container .list-container {
    width: calc((100% - 72px) / 4);
}

.section-title-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.section-item-two {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;
}

.icon-one {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}


/* Section 3 */

.section-three {
    background-color: #F4F4FD;
    padding: 120px 0;

}

.section-title-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}



.section-list-container-two {
    display: flex;
    gap: 24px;
}

.section-title-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;

}

.section-list-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);


}

.section-list-container-two .section-list-three {
    width: calc((100% - 72px) / 4);
}

.name-container {
    padding: 32px 0;

}

.section-item-three {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 24px;  
}
.sm-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-link-one {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sm-link-one .hover ,
.sm-link-one .focus {
    background-color: #404bbf;
}

.icons {
    fill: #F4F4FD;
}



/* Section 4 */

.section-container-three {
    padding-top: 120px;
    padding-bottom: 120px;

}

.section-title-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.section-list-container-three .section-list-container-five {
    width: calc((100% - 48px) / 3);
}

.section-list-container-three {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.name-container-two {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;

}

.section-list-four {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.2;
    margin-bottom: 8px;
}

.section-item-four {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
   
}

.section-list-container-five {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.section-list-container-five .hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.portfolio-images {
    position: relative;
    overflow: hidden;
}

.portfolio-description {
    position: absolute;
    top:0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* Footer */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;

}

.logo-footer-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    display: inline-block;
    margin-bottom: 16px;

}

.footer-item {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    line-height: 1.5;
    max-width: 264px;
}


.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}

.navigation-container {
    display: flex;
    align-items: center;

}


.images {
    display: block;
}

.logo-paragraph {
    margin-right: 120px;

}

.footer-sm {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.sm-list {
    display: flex;
    gap: 16px;
}
.sm-link {
    width: 40px;
    height: 40px;   
}
.links-footer {
    width:100%;
    height:100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links-item .hover ,
.links-item .focus {
    background-color: #31d0aa;

}
.icons-footer {
    fill: #f4f4fd;
}

.footer-container {
    display: flex;
    align-items: baseline;
    
}